<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
  </RunConfiguration>

    <TestRunParameters>
      <Parameter name="Url" value="https://www.github.com"/>
      <Parameter name="Login" value="Qa-tech"/>
      <Parameter name="Password" value="PasswordCanForget"/>
      <Parameter name="Email" value="qa-tech@mail.ru"/>
      <Parameter name="PersonalAccessToken" value="5303d29556c1e206da00c5fa743955f03015890e"/>
      <!--You have to add a type of browser like as: 'chrome', 'firefox', 'opera'-->
      <Parameter name="BrowserType" value="chrome"/>

    </TestRunParameters>
    
</RunSettings>